<!-- Modal -->
<div class="modal fade" id="size_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Size of Board</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label>Height</label>
            <input [(ngModel)]="size.height" [ngModelOptions]="{standalone: true}" type="number" class="form-control" placeholder="Height">
          </div>
          <div class="form-group">
            <label>Width</label>
            <input [(ngModel)]="size.width" [ngModelOptions]="{standalone: true}" type="number" class="form-control" placeholder="Width">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary">Close</button>
          <button type="button" class="btn btn-primary" (click)="submit_size()">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="board" *ngIf="submitted">
  <table class="table table-dark table-bordered text-center" style="margin-bottom: 0;">
    <tbody>
      <tr *ngFor="let data of card">
        <td *ngFor="let data2 of data" style="padding: 0;">
          <div style="padding-top: 100%; width: 100%; position: relative;">
            <span style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; top: 50%; transform: translateY(-50%); font-size: 14px; line-height: 14px; font-weight: 700; height: 14px;">5</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>